@model IEnumerable<DF.Domain.Abstract.ITeam>

<div class="addItem">
    @Html.ActionLink("Add Team", "AddTeam")
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#tblTeam").alternateBackground();
    });


</script>

<h1>@ViewBag.Title</h1>

<div class="formMessage">
    @ViewBag.Message
</div>

<table id="form">
    <tr>
        <td>       
            <table id="tblTeam">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Active
                        </th>
                        <th>&nbsp;</th>
                        <th>
                            &nbsp;
                        </th>
                        <th class="processing hide">
                            &nbsp;
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var team in Model)
                    {
                        <tr>
                            <td>
                                @team.Name
                            </td>
                            <td>
                                @team.Description
                            </td>
                            <td>
                                @team.Active
                            </td>
                            <td>
                                <a href='@Url.Action("EditTeam", "Team",new {id=team.Id})'>
                                    <img src="/library/images/edit.gif" alt="Edit" title="Edit Team" />
                                </a>
                            </td>
                            <td>
                                @if (team.Active)
                                {                                    
                                    <a href="#" id="lnkDelete-@team.Id"><img src="/library/images/active.gif" alt="Active" title="Click To Delete" /></a>
                                   
                                }
                                else
                                {
                                    <a href="#" id="lnkActivate-@team.Id">
                                        <img src="/library/images/inactive.gif" alt="Active" title="Click To Make Active" /></a>
                                }
                            </td>
                            <td class="processing hide">
                                
                            </td>
                        </tr>
                    }
                </tbody>
       
            </table>
        </td>
    </tr>
</table>
